.hours {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    gap: 5px;

    .hours-items {
        margin-bottom: 1rem;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.28);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        p {
            width: 70px;
            padding: 5px 0;
            text-shadow: 2px 2px 5px #fff;

            &.worm{
                color: #ff6700;
            }
            &.cold{
                color: #0000cd;
            }
        }
    }
}