
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    // & h3{
    //     border-right: 2px solid #ccc;
    //     padding: 10px;
    // }

}